/* @import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Macondo&family=Mukta:wght@200;300;400;500;600;700;800&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Shadows+Into+Light&family=Smooch&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Macondo&family=Mukta:wght@200;300;400;500;600;700;800&family=Oswald:wght@200;300;400;500;600;700&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Shadows+Into+Light&family=Smooch&display=swap');

/*------------------  React default  ------------------*/

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  /* min-height: 100vh; */
  height: 100vh;
  /* min-height: 100vh; */
  /* max-height: 100vh; */
  /* height: 140rem; */
}

/*------------------  general  ------------------*/

body {
  position: relative;
  z-index: -2;
  background-color: #B7f7f7;
  font-family: 'Oswald', sans-serif;
  /* min-height: 100vh; */
}







.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}


.flex-stretch {
  display: flex;
  align-items: stretch;
}

.flex-around {
  display: flex;
  /* justify-content: space-between; */
  justify-content: space-around;
}

.reduce-9 {
  transform: scale(.9);
}

.width-fit {
  width: fit-content;
}

.main-props {
  /* position: relative; */
  z-index: 0;
}

/* .padding-top {
  padding-top: 10rem;
} */



/*------------------  Cola Template  ------------------*/

.cola-name {
  font-family: 'Macondo', sans-serif;
}

.details-background {
  /* background-color: #faf9f6; */
}

.purchase-background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #EBBC1E;
}



.text-shadow {
}

.cola-header,
.cola-out-stock-header {

}

.cola-out-stock-header {
  height: 5rem;
  background-color: #f2eecb;

  /* transform: scale(.8) rotate(15deg); */
  transform: scale(.8) translate(17%, 0);
  /* bottom:0; */
  position:relative;
  z-index: 3!important;
  top:54%;
  left:-10%;
  /* bottom:0; */
  border: double 6px #a054a0;
  color: #da324e;
  text-shadow: 1px 1px 1px #010203,
                0px 0px 2px #010203;
}

.out-of-stock-swing {
  animation: out-of-stock-swing-animation 5s linear 0s infinite normal;
}

@keyframes out-of-stock-swing-animation {
  25%{transform: scale(.8) translate(-10%, -10%) rotate(25deg) }
  50%{transform: scale(.8) translate(17%, 0%) rotate(0deg) }
  75%{transform: scale(.8) translate(50%, -9%) rotate(-25deg) }
  100%{transform: scale(.8) translate(17%, 0%) rotate(0deg) }
}

.cola-out-stock-header::before {
  content: "";
  font-size: 0;
  position: absolute;
  height: 100%;
  width: 80%;
  top: -80%;
  right:0;
  transform: rotate(45deg);
  border-top: 3px solid #555;
}

.cola-out-stock-header::after {
  content: "";
  font-size: 0;
  position: absolute;
  height: 100%;
  width: 80%;
  top: -80%;
  left: 0;
  transform: rotate(-45deg);
  border-top: 3px solid #555;
}


.cola-out-stock-header h3 {
  font-family: "Gideon Roman", sans-serif;

}

.cola-header {
  background: url('unbranded_can.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  min-height:5em;
  filter: drop-shadow(3px 3px 2px rgba(0,0,0,.75))
          drop-shadow(0px 0px 1px rgba(0,0,0,.75));
  transform: scale(.9);
}

.cola-header-text {
  color: #ff9595;
  padding: 2.5rem;
  text-shadow: 1px 0px 1px #010203,
                0px 1px 1px #010203,
                -1px 0px 1px #010203,
                0px -1px 1px #010203;
}

.cola-button-text {
  color: #faf9f6;
  /* text-shadow: 2px 2px #010203; */
  text-shadow: 1px 1px 2px #010203,
              -1px -1px 2px #010203,
              0px 0px 4px #010203;
}

.cola-container {
  position: relative;
  z-index: 0;
}
/* 
.cola-shelf {
  position: absolute;
  background-color: #2AEB5A;
  width: 100%;
  height: 20px;
  bottom: 0;
} */



.cola-template-container {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  

  /* card design */
  background-color: rgba(250,249,246, .5);
  background-color: rgba(17,245,233, .5);
  background: repeating-linear-gradient(45deg, rgba(17,245,233, .5) 30%, rgba(29,141,245, .5) 50%,rgba(17,245,233, .5)80%);
  border-radius: 15px;
  box-shadow: 2px 2px 4px rgba(0,0,0,.5),
        inset -5px -5px 4px rgba(0,0,0,.5),
        inset 5px 5px 2px rgba(0,0,0,.25);

}

.buy-button-position {
  display: flex;
  justify-content: center;
  align-self: flex-end;
}

.buy-button {
  border: none;
  border-radius: 15px;
  background-color: #EBBC1E;
  box-shadow: inset -2px -2px 4px rgba(0,0,0,.5),
                      2px 2px 1px rgba(0,0,0,.5);
}

/*------------------  Stripe  ------------------*/

.stripe-style {
  position: relative;
}

.stripe-style div {
  /* position: absolute; */
  position: relative;
  /* border: 2px solid black; */
  /* height: 4rem; */
  /* padding:3rem; */
  /* display */
  /* bottom: 15px; */
}
.stripe-style input {
  font-size: 10rem!important;
}
/*------------------  Login Form  ------------------*/
.login-form {
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;
}

input[type="text"],
input[type="password"],
button,
textarea {
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

label,
button {
  margin-top: 1rem;
}

button {
  padding: 0.5rem;
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
  background-color: #000;
  color: #fff;
}

.instructions > svg {
  margin-right: 0.5rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color:rgb(32, 211, 112);
  margin-left: 0.25rem;
}

.invalid {
  color:red;
  margin-left: 0.5rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-family: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.line {
  display: inline-block;
}

/*------------------  Footer  ------------------*/
.colaco-footer {
  position: absolute;
  bottom: 0;
  text-shadow: 1px 1px 0px #a7a7a7;
}

/* .colaco-footer {
  position: absolute;
} */