/* @import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Macondo&family=Mukta:wght@200;300;400;500;600;700;800&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Shadows+Into+Light&family=Smooch&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Macondo&family=Mukta:wght@200;300;400;500;600;700;800&family=Oswald:wght@200;300;400;500;600;700&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Shadows+Into+Light&family=Smooch&display=swap');

/*------------------  React default  ------------------*/

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*------------------  general  ------------------*/


body {
  background: linear-gradient(291deg, rgba(54, 235, 201, .75), rgba(0,255,0,0) 70%),
              linear-gradient(145deg, rgba(42, 235, 90, .75), rgba(0,255,0,0) 70%),
              linear-gradient(325deg, rgba(66, 174, 235, .75), rgba(0,0,255,0) 70%);
  /* font-family: 'Shadows Into Light'; */
  /* font-family: 'Gideon Roman', sans-serif; */
  /* font-family: 'Roboto-Slab', sans-serif; */
  font-family: 'Oswald', sans-serif;
  min-height: 100vh;
}

.cola-name {
  font-family: 'Macondo', sans-serif;
}

.company-name {
  font-family: 'Smooch', sans-serif;
  text-shadow: 
  /* 1px 1px 2px rgba(0,0,0,.35), */
  1px 1px 2px #faf9f6,
  0px 0px 4px rgba(0,0,0,.5)
  /* 0px 0px 4px #faf9f6 */
                ;
  /* width: 100%; */
  /* margin-right: 0!important; */
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}


.flex-stretch {
  display: flex;
  align-items: stretch;
}

.flex-around {
  display: flex;
  /* justify-content: space-between; */
  justify-content: space-around;
}

.reduce-9 {
  transform: scale(.9);
}

.width-fit {
  width: fit-content;
}

.main-props {
  position: relative;
  z-index: 0;
}

.padding-top {
  padding-top: 10rem;
}

/*------------------  Vending Machine Body ------------------*/

.vending-body {
  /* background-color:orange; */
  z-index: initial;
  position: relative;
  height: 45rem;
  background: linear-gradient(291deg, rgba(245,52,41,.3), rgba(250,249,246,.3), rgba(245,52,41,.3) 70%),
              linear-gradient(145deg, rgba(250,249,246,.3), rgba(245,52,41,.3), rgba(250,249,246,.3) 70%),
              linear-gradient(3225deg, rgba(245,52,41,.3), rgba(250,249,246,.3), rgba(245,52,41,.3) 70%);
  /* border: 2px solid #010203; */
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  box-shadow: 
              inset 0px 0px 4px rgba(0,0,0,.75),
              /* inset 2px 2px 4px rgba(0,0,0,.75) */

                    0px -2px 0px rgba(0,0,0,.5),
                    2px 2px 6px rgba(0,0,0,.75)
              
              ;
}
/* Acts as a divider for vending body side */
.vending-body-solid-backgound {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: #fff;
  left: 0rem;
  top: 0rem;
}

.vending-window {
  background-color: #a7a7a7;
  /* border-bottom: 15px solid green */
  /* border: 5px solid orange; */
}

/*------------------  Vending Machine payment selection panel ------------------*/

.cola-body-payment-panel {
  height: 42.5rem;
  border-radius: 10px;
  background-color: rgba(153, 11, 11, 0.9);
}

.card-input {
  position: absolute;
  right: 5%;
  top:40%;
  height:10px;
  width: 50px;
  background-color: #faf9f6;
  border-radius: 15px;
}

.card-input::after {
  position: absolute;
  content: "";
  font-size: 0;
  border-radius: 15px;
  /* border: 4px solid black; */
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-right: 20px solid black;
  border-left: 20px solid black;
  left: 5px;
  top: 3px;
}

.coin-input {
  position: absolute;
  right: 8%;
  top:43%;
  height:20px;
  width: 6px;
  background-color: #faf9f6;
  border-radius: 15px;
}

.coin-input::after {
  position: absolute;
  content: "";
  font-size: 0;
  /* border: 4px solid black; */
  border-top: 8px solid black;
  border-bottom: 8px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-radius: 15px;
  left: 2px;
  top: 2px;
}

.selection-input {
  position: absolute;
  padding-left: 2px;
  right: 3%;
  top: 20%;
  width: 83px;
  height: 83px;
  background-color: #c2c2c2;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
}

.selection-button {
  margin: 2px;
  height:15px;
  width:15px;
  background-color: #8b8b8b;
  border-radius: 50%;
  border: 2px solid rgb(255, 255, 255);
  box-shadow: inset 1px 1px 2px rgba(0,0,0,.5),
              2px 2px 3px #010203;
}


/*------------------  Vending Machine feet ------------------*/

.left-foot,
.right-foot {
  z-index: -3;
  position: absolute;
  height: 3rem;
  width: 15px;
  background-color: #bec2cb;
  /* background: linear-gradient(45deg, rgba(190,194,203,0.7), rgba(192,192,192,.9)); */
  bottom: calc(-3rem + 2px);
  /* box-shadow: 20px 1px 4px black; */
  filter: drop-shadow(4px 0px 2px rgba(0,0,0,0.75))
}

.left-foot {
  left: 5rem;
}

.right-foot {
  right: 5rem;
}

.right-foot::after,
.right-foot::before,
.left-foot::after,
.left-foot::before {
  content: "";
  font-size: 0;
  position: relative;
  top:calc(-1rem + -4px);
  border-bottom: 3rem solid transparent;
  border-top: 0rem solid transparent;
}

.right-foot::after,
.left-foot::after {
  left: -32px;
  border-left: 0rem solid transparent;
  border-right: 1rem solid #c0c0c0;
}

.right-foot::before,
.left-foot::before {
  left: 15px;
  border-left: 1rem solid #bec2cb;
  border-right: 0rem solid transparent;
  /* filter: drop-shadow(2px 0px 0px black); */
}

/*------------------  Cola Template  ------------------*/

.text-shadow {
}

.cola-header {
  background: url('unbranded_can.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  min-height:5em;
  filter: drop-shadow(3px 3px 2px rgba(0,0,0,.75))
          drop-shadow(0px 0px 1px rgba(0,0,0,.75));
  transform: scale(.9);
}

.cola-header-text {
  color: #2AEB5A;
  text-shadow: 1px 1px 0px #010203,
                -1px -1px 0px #010203,
                0px 0px 2px #010203;
}

.cola-button-text {
  color: #faf9f6;
  /* text-shadow: 2px 2px #010203; */
  text-shadow: 1px 1px 2px #010203,
              -1px -1px 2px #010203,
              0px 0px 4px #010203;
}

.cola-template-container {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;

  /* card design */
  background-color: rgba(250,249,246, .5);
  background-color: rgba(17,245,233, .5);
  background: repeating-linear-gradient(45deg, rgba(17,245,233, .5) 30%, rgba(29,141,245, .5) 50%,rgba(17,245,233, .5)80%);
  border-radius: 15px;
  box-shadow: 2px 2px 4px rgba(0,0,0,.5),
              inset -5px -5px 4px rgba(0,0,0,.5),
              inset 5px 5px 2px rgba(0,0,0,.25);

  /* margin-top:3rem; */
}

.test123 {
  /* margin-top: 0; */
  /* background-color: #2AEB5A; */
}

.buy-button-position {
  display: flex;
  justify-content: center;
  align-self: flex-end;
}

.buy-button {
  border: none;
  border-radius: 15px;
  background-color: #EBBC1E;
  box-shadow: 
              inset -2px -2px 4px rgba(0,0,0,.5),
              2px 2px 1px rgba(0,0,0,.5)
              ;
}

/*------------------  Stripe  ------------------*/

.stripe-style {
  position: relative;
}

.stripe-style div {
  /* position: absolute; */
  position: relative;
  /* border: 2px solid black; */
  /* height: 4rem; */
  /* padding:3rem; */
  /* display */
  /* bottom: 15px; */
}
.stripe-style input {
  font-size: 10rem!important;
}
